# {{ ansible_managed }}
# Shared proxy configuration for upstream backends.

## Headers
proxy_set_header Host $host:$server_port;
proxy_set_header X-Original-URL $scheme://$http_host$request_uri;
proxy_set_header X-Forwarded-Proto $scheme;
proxy_set_header X-Forwarded-Host $http_host;
proxy_set_header X-Forwarded-URI $request_uri;
proxy_set_header X-Forwarded-Ssl on;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Real-IP $remote_addr;
add_header Referrer-Policy "strict-origin-when-cross-origin";

## Basic Proxy Configuration
client_body_buffer_size 128k;
proxy_next_upstream error timeout invalid_header http_500 http_502 http_503;
proxy_redirect  http://  $scheme://;
proxy_http_version 1.1;
proxy_cache_bypass $cookie_session;
proxy_no_cache $cookie_session;
proxy_buffers 64 256k;

## Trusted Proxies Configuration
## https://www.authelia.com/integration/proxies/nginx/#trusted-proxies
{% for cidr in reverse_proxy_trusted_proxies %}
set_real_ip_from {{ cidr }};
{% endfor %}
real_ip_header X-Forwarded-For;
real_ip_recursive on;

## Advanced Proxy Configuration
send_timeout 5m;
proxy_read_timeout 360;
proxy_send_timeout 360;
proxy_connect_timeout 360;

resolver {{ reverse_proxy_resolvers | join(' ') }};
resolver_timeout {{ reverse_proxy_resolver_timeout }};
