# {{ ansible_managed }}
[Unit]
Description=Kubernetes etcd + kubeadm PKI snapshot
After=network-online.target
Wants=network-online.target
{% if k8s_etcd_snapshot_offbox_dir | length > 0 %}
RequiresMountsFor={{ k8s_etcd_snapshot_offbox_dir }}
{% endif %}

[Service]
Type=oneshot
ExecStart={{ k8s_etcd_snapshot_script_path }}
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
