# {{ ansible_managed }}
[Unit]
Description=Run offline AD domain backup on schedule
Documentation=file:///usr/share/doc/home-network-v3/backup-runbook.md

[Timer]
OnCalendar={{ backup_ad_schedule_on_calendar }}
RandomizedDelaySec={{ backup_ad_schedule_randomized_delay_sec }}
Persistent={{ backup_ad_timer_persistent | lower }}

[Install]
WantedBy=timers.target
