# {{ ansible_managed }}
# Sourced by {{ backup_offsite_bundle_script_path }}.
BUNDLE_MOUNT="{{ backup_offsite_bundle_mount }}"
BUNDLE_REPO="{{ backup_offsite_bundle_repository }}"
SOURCE_REPO="{{ backup_restic_repository }}"
BUNDLE_COPY_TAGS="{{ backup_offsite_bundle_copy_tags | join(' ') }}"
BUNDLE_KOPIA_LIST="{{ backup_offsite_bundle_kopia_list_path }}"
BUNDLE_PRUNE_ENABLED="{{ backup_offsite_bundle_prune_enabled | lower }}"
BUNDLE_KEEP_DAILY="{{ backup_offsite_bundle_keep_daily }}"
BUNDLE_KEEP_WEEKLY="{{ backup_offsite_bundle_keep_weekly }}"
BUNDLE_KEEP_MONTHLY="{{ backup_offsite_bundle_keep_monthly }}"
BACKUP_COMMON_SCRIPT="{{ backup_common_script_path }}"
