deb [signed-by=/etc/apt/keyrings/nvidia-container-toolkit.asc] https://nvidia.github.io/libnvidia-container/stable/deb/{{ docker_engine_nvidia_deb_arch }} /
#deb [signed-by=/etc/apt/keyrings/nvidia-container-toolkit.asc] https://nvidia.github.io/libnvidia-container/experimental/deb/{{ docker_engine_nvidia_deb_arch }} /
