# {{ ansible_managed }}
DREAMHOST_API_KEY="{{ certbot_dreamhost_api_key | trim }}"
DREAMHOST_PROPAGATION_SECONDS="{{ certbot_dreamhost_propagation_seconds }}"
DREAMHOST_PROPAGATION_POLL_INTERVAL="{{ certbot_dreamhost_propagation_poll_interval }}"
DREAMHOST_VALIDATION_RESOLVERS="{{ certbot_dreamhost_validation_resolvers | join(' ') }}"
