# Ansible-managed notification strings for upssched-cmd.
NUT_NOTIFY_ONBATT_SUBJECT='{{ nut_notify_messages.onbatt.subject | replace("'", "'\\''") }}'
NUT_NOTIFY_ONBATT_BODY='{{ nut_notify_messages.onbatt.body | replace("'", "'\\''") }}'
NUT_NOTIFY_ONLINE_SUBJECT='{{ nut_notify_messages.online.subject | replace("'", "'\\''") }}'
NUT_NOTIFY_ONLINE_BODY='{{ nut_notify_messages.online.body | replace("'", "'\\''") }}'
NUT_NOTIFY_LOWBATT_SUBJECT='{{ nut_notify_messages.lowbatt.subject | replace("'", "'\\''") }}'
NUT_NOTIFY_LOWBATT_BODY='{{ nut_notify_messages.lowbatt.body | replace("'", "'\\''") }}'
NUT_NOTIFY_COMMBAD_SUBJECT='{{ nut_notify_messages.commbad.subject | replace("'", "'\\''") }}'
NUT_NOTIFY_COMMBAD_BODY='{{ nut_notify_messages.commbad.body | replace("'", "'\\''") }}'
