# Ansible-managed - see roles/nut_ups/templates/upsd.users.j2
[{{ nut_ups_local_mon_user }}]
    password = {{ nut_ups_local_mon_password }}
    upsmon master

[{{ nut_ups_remote_mon_user }}]
    password = {{ nut_ups_remote_mon_password }}
    upsmon slave
